.hide{
    display: none !important;
    pointer-events: none;
    opacity: 0;
}
.toast-window{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    .toast-window-mask{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        background: rgba(0,0,0,0.7);
    }
    .toast-window-main{
        position: absolute;
        left: 50%;
        margin-left: rem(-325);
        width: rem(650);
        top: rem(260);
        background: #FFF;
        border-radius: rem(20);
        padding-bottom: rem(25);
        .twm-title{
            height: rem(78);
            line-height: rem(78);
            text-align: center;
            border-bottom: rem(3) solid #d3d1d1;
            font-size: rem(32);
            color: #333;
            .twn-t-close{
                position: absolute;
                left: rem(30);
                top: rem(30);
                width: rem(26);
                height: rem(26);
                background: url('../img/page/icon_close.png') no-repeat;
                background-size: 100%;
            }
        }
        .twm-main{
            padding-top: rem(40);
            padding-bottom: rem(45);
            overflow: hidden;
            .success{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: rem(192);
                height: rem(192);
                margin-top: rem(35);
            }
            .success-note{
                width: 100%;
                font-size: rem(28);
                color: #666;
                text-align: center;
                height: rem(35);
                line-height: rem(35);
            }
            .twn-m-body{
                .twn-choose{
                    display: block;
                    width: rem(280);
                    height: rem(80);
                    text-align: center;
                    font-size: rem(36);
                    color: #666;
                    border: rem(3) solid #d3d1d1;
                    border-radius: rem(20);
                    line-height: rem(80);
                    &:nth-child(1){
                        float: left;
                        margin-left: rem(30);
                    }
                    &:nth-child(2){
                        float: right;
                        margin-right: rem(30);
                    }
                    &.selected{
                        color: #fe3000;
                        border-color: #fe3000;
                    }
                }
                &.min{
                    .twn-choose{
                        float: left !important;
                        width: rem(180);
                        margin-right: 0 !important;
                        margin-left: rem(20);
                        margin-bottom: rem(5);
                    }
                }
            }
        }
        .twm-main-bt{
            margin-top: rem(0);
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            display: block;
            width: rem(586);
            height: rem(100);
            text-align: center;
            line-height: rem(100);
            background: #fedd00;
            font-size: rem(36);
            color: #2f2b0e;
            border-radius: rem(20);
        }
    }
}
.common-bottom{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: rem(100);
    border-top: rem(3) solid #d3d1d1;
    background: #FFF;
    li{
        width: 25%;
        float: left;
        text-align: center;
        display: block;
        a{
            display: block;
            font-size: rem(22);
            color: #aeaeae;
            line-height: rem(140);
        }
        &:nth-child(1){
            background: url('../img/page/icon_bottom_home2.png') no-repeat center rem(8);
            background-size: rem(48) rem(48); 
        }
        &:nth-child(2){
            background: url('../img/page/icon_bottom_friend2.png') no-repeat center rem(8);
            background-size: rem(48) rem(48); 
        }
        &:nth-child(3){
            background: url('../img/page/icon_bottom_share2.png') no-repeat center rem(8);
            background-size: rem(48) rem(48);
        }
        &:nth-child(4){
            background: url('../img/page/icon_bottom_gold2.png') no-repeat center rem(8);
            background-size: rem(48) rem(48); 
        }
        &.cur{
            &:nth-child(1){
                background: url('../img/page/icon_bottom_home.png') no-repeat center rem(8);
                background-size: rem(48) rem(48); 
            }
            &:nth-child(2){
                background: url('../img/page/icon_bottom_friend.png') no-repeat center rem(8);
                background-size: rem(48) rem(48); 
            }
            &:nth-child(3){
                background: url('../img/page/icon_bottom_share.png') no-repeat center rem(8);
                background-size: rem(48) rem(48);
            }
            &:nth-child(4){
                background: url('../img/page/icon_bottom_gold.png') no-repeat center rem(8);
                background-size: rem(48) rem(48); 
            }
        }
    }
}
.tips-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    .tips-icon{
        position: absolute;
        width: rem(188);
        margin-left: rem(-94);
        top: rem(290);
        left: 50%;
    }
    .tips-note{
        position: absolute;
        top: rem(580);
        left: 0;
        width: 100%;
        text-align: center;
        font-size: rem(32);
        color: #333;
    }
    .tips-bt{
        position: absolute;
        left: 50%;
        width: rem(420);
        height: rem(96);
        margin-left: rem(-210);
        border-radius: rem(20);
        background: #fedd00;
        text-align: center;
        line-height: rem(96);
        font-size: rem(36);
        color: #2f2b0e;
        top: rem(680);
    }
}

.roomlist-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    background: #f9f9f8;
    .roomlist-banner{
        width: 100%;
        height: rem(155);
    }
    .create-room-bt{
        width: rem(200);
        height: rem(85);
        line-height: rem(85);
        text-align: center;
        left: 50%;
        margin-left: rem(-100);
        font-size: rem(28);
        color: #2f2b0e;
        position: fixed;
        bottom: rem(200);
        background: #fedd00;
        box-shadow: rem(5) rem(5) rem(5) #888;
        border-radius: rem(20);
    }
    .roomlist-main{
        padding-bottom: rem(100);
        li{
            position: relative;
            overflow: hidden;
            margin-left: rem(25);
            margin-right: rem(25);
            height: rem(135);
            border-radius: rem(20);
            background: #FFF;
            margin-top: rem(20);
            .rl-avatar{
                position: absolute;
                width: rem(95);
                height: rem(95);
                border-radius: 50%;
                left: rem(20);
                top: rem(22);
            }
            .rl-name{
                position: absolute;
                font-size: rem(30);
                color: #4d4d4d;
                left: rem(130);
                top: rem(32);
            }
            .rl-num{
                position: absolute;
                font-size: rem(24);
                color: #6d6d6d;
                left: rem(130);
                top: rem(82);
            }
            .rl-in{
                display: block;
                position: absolute;
                width: rem(110);
                height: rem(70);
                text-align: center;
                line-height: rem(70);
                font-size: rem(28);
                color: #2f2b0e;
                background: #fedd00;
                top: rem(30);
                right: rem(20);
                border-radius: rem(20);
            }
        }
    }
}

.fans-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    .fans-list-main{
        padding-bottom: rem(100);
        li{
            position: relative;
            margin-left: rem(30);
            margin-right: rem(30);
            height: rem(120);
            line-height: rem(120);
            border-bottom: rem(3) solid #cccccc;
            .fans-avatar{
                position: absolute;
                width: rem(80);
                height: rem(80);
                border-radius: 50%;
                left: 0;
                top: rem(20);

            }
            .fans-name{
                position: absolute;
                width: rem(440);
                font-size: rem(32);
                color: #333;
                left: rem(150);
                top: 0;
            }
            .fan-local{
                position: absolute;
                font-size: rem(24);
                color: #a8a8a8;
                right: 0;
                top: 0;
            }
        }
    }
    .loading-tips{
        overflow: hidden;
        width: 100%;
        height: rem(160);
        line-height: rem(160);
        font-size: rem(26);
        text-align: center;
    }
}

.wallet-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    .page-cover{
        position: absolute;
        width: rem(140);
        height: rem(140);
        left: 50%;
        margin-left: rem(-70);
        top: rem(40);
    }
    .page-note{
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        color: #333;
        font-size: rem(24);
        top: rem(198);
    }
    .page-price{
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: rem(48);
        color: #333;
        top: rem(246);
    }
    .bt-left{
        position: absolute;
        display: block;
        width: rem(335);
        height: rem(90);
        top: rem(325);
        left: rem(30);
        background: #fedd00;
        text-align: center;
        line-height: rem(90);
        font-size: rem(32);
        color: #2f2b0e;
        border-radius: rem(20);
    }
    .bt-right{
        position: absolute;
        display: block;
        width: rem(335);
        height: rem(90);
        top: rem(325);
        right: rem(30);
        background: #f7f7f7;
        border: rem(3) solid #cccccc;
        border-radius: rem(20);
        text-align: center;
        line-height: rem(90);
        font-size: rem(32);
        color: #2f2b0e;
    }
    .wallet-list-top{
        position: relative;
        width: 100%;
        margin-top: rem(445);
        ul{
            overflow: hidden;
        }
        li{
            overflow: hidden;
            position: relative;
            height: rem(100);
            line-height: rem(100);
            margin-left: rem(30);
            margin-right: rem(30);
            border-bottom: rem(3) solid #cccccc;
            &:last-child{
                border-bottom: none;
            }
            .col1{
                display: inline-block;
                font-size: rem(32);
                color: #333;
                width: rem(500);
            }
            .col2{
                display: inline-block;
                font-size: rem(32);
                color: #333;
                width: rem(90);
                text-align: right;
            }
            .col3{
                display: inline-block;
                width: rem(80);
                height: rem(52);
                text-align: center;
                line-height: rem(52);
                font-size: rem(24);
                color: #2f2b0e;
                background: #fedd00;
                border-radius: rem(20);
            }
        }
    }
    .wallet-list{
        padding-bottom: rem(100); 
        li{
            overflow: hidden;
            position: relative;
            height: rem(120);
            line-height: rem(120);
            margin-left: rem(30);
            margin-right: rem(30);
            border-bottom: rem(3) solid #cccccc;
            &:last-child{
                border-bottom: none;
            }
            .col1-wrap{
                display: inline-block;
                position: relative;
                width: rem(450);
                vertical-align: middle;
                .col1-top{
                    display: block;
                    font-size: rem(32);
                    color: #333;
                    height: rem(60);
                    line-height: rem(60);
                }
                .col1-bottom{
                    display: block;
                    font-size: rem(24);
                    color: #a8a8a8;
                    height: rem(44);
                    line-height: rem(44);
                }
            }
            .col2{
                display: inline-block;
                font-size: rem(32);
                color: #333;
                width: rem(90);
                text-align: right;
                vertical-align: middle;
            }
            .col3{
                display: inline-block;
                width: rem(80);
                height: rem(52);
                text-align: center;
                line-height: rem(52);
                font-size: rem(24);
                color: #2f2b0e;
                background: #fedd00;
                vertical-align: middle;
            }
            .col4{
                display: inline-block;
                width: rem(120);
                height: rem(52);
                text-align: center;
                line-height: rem(52);
                font-size: rem(24);
                &.done{
                    font-size: rem(22);
                    color: #23b03d;
                    border: rem(3) solid #23b03d;
                }
                &.wait{ 
                    font-size: rem(22);
                    color: #2f2b0e;
                    border: rem(3) solid #2f2b0e;
                }
            }
        }
    }
    .mid-title{
        position: relative;
        overflow: hidden;
        font-size: rem(26);
        color: #666666;
        background: #f9f9f8;
        height: rem(80);
        line-height: rem(80);
        text-indent: rem(25);
    }
}

.qrcode-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    .user-head{
        position: absolute;
        width: rem(105);
        height: rem(105);
        left: 50%;
        margin-left: rem(-52);
        top: rem(70);
        border-radius: 50%;
        border: rem(3) solid #fedd00;
    }
    .user-name{
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: rem(32);
        color: #333333;
        left: 0;
        top: rem(215);
    }
    .qrcode-img{
        position: absolute;
        width: rem(455);
        height: rem(455);
        border: rem(3) solid #fedd00;
        left: 50%;
        margin-left: rem(-228);
        top: rem(290);
    }
    .qrcode-note{
        position: absolute;
        color: #858585;
        font-size: rem(28);
        width: 100%;
        text-align: center;
        left: 0;
        text-align: center;
        top: rem(800);
    }
}